<button
  [type]="type()"
  class="btn d-inline-flex align-items-center justify-content-center gap-2"
  [class.btn-primary]="variant() === 'primary'"
  [class.btn-secondary]="variant() === 'secondary'"
  [class.btn-danger]="variant() === 'danger'"
  [class.btn-success]="variant() === 'success'"
  [class.btn-outline-primary]="variant() === 'outline-primary'"
  [class.btn-outline-secondary]="variant() === 'outline-secondary'"
  [class.btn-outline-danger]="variant() === 'outline-danger'"
  [class.btn-outline-success]="variant() === 'outline-success'"
  [disabled]="disabled()"
  (click)="onClick()">

  <ng-content></ng-content>

</button>