<!-- Customers table -->
<div class="table-responsive">
  <table class="table table-hover align-middle mb-0 text-nowrap">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Status</th>
        <th>Orders</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      @for(customer of customers(); track customer.customerId){
        <tr
          app-customer-row
          [customer]="customer"
          (viewSelected)="viewSelected.emit($event)"
          (editSelected)="editSelected.emit($event)">
        </tr>
      }
    </tbody>
  </table>
</div>