<div class="d-flex align-items-center gap-2">

  @if (actions().includes('view')) {
    <button
      type="button"
      class="btn btn-sm border-0 text-secondary p-1"
      title="View"
      aria-label="View"
      (click)="view.emit()">

      <fa-icon [icon]="faEye"></fa-icon>

    </button>
  }

  @if (actions().includes('edit')) {
    <button
      type="button"
      class="btn btn-sm border-0 text-secondary p-1"
      title="Edit"
      aria-label="Edit"
      (click)="edit.emit()">

      <fa-icon [icon]="faPen"></fa-icon>

    </button>
  }

  @if (actions().includes('delete')) {
    <button
      type="button"
      class="btn btn-sm border-0 text-danger p-1"
      title="Delete"
      aria-label="Delete"
      (click)="delete.emit()">

      <fa-icon [icon]="faTrash"></fa-icon>

    </button>
  }

</div>