<div class="card mb-3">
  <div class="card-body py-3">
    <div class="d-flex align-items-center justify-content-between gap-3">

      <div class="d-flex align-items-center gap-3">

        <span class="small fw-bold text-secondary">
          Actions:
        </span>

        @if(order().orderStateName === 'Pending'){
          <app-button
            variant="outline-primary"
            [disabled]="order().orderItems.length === 0"
            (clicked)="actionSelected.emit('confirm')">
            <fa-icon [icon]="faCheck" class="me-1"> </fa-icon>
            Confirm Order
          </app-button>

          <app-button
            variant="outline-danger"
            (clicked)="actionSelected.emit('cancel')">
            <fa-icon [icon]="faXmark" class="me-1"> </fa-icon>
            Cancel Order
          </app-button>
        }

        @if(order().orderStateName === 'Confirmed'){
          <app-button
            variant="outline-success"
            (clicked)="actionSelected.emit('ship')">
            <fa-icon [icon]="faBox"class="me-1"></fa-icon>
            Ship Order
          </app-button>

          <app-button
            variant="outline-danger"
            (clicked)="actionSelected.emit('cancel')">
            <fa-icon [icon]="faXmark"class="me-1">
            </fa-icon>

            Cancel Order
          </app-button>
        }

        @if(order().orderStateName === 'Cancelled'){
          <app-button
            variant="danger"
            (clicked)="actionSelected.emit('delete')">
            <fa-icon [icon]="faTrash" class="me-1"></fa-icon>
            Delete Order
          </app-button>
        }

      </div>

      <div class="small text-secondary text-end">

        @if(order().orderStateName === 'Pending'){
          Actions available in Pending state
        }

        @if(order().orderStateName === 'Confirmed'){
          Actions available in Confirmed state
        }

        @if(order().orderStateName === 'Shipped'){
          This order is shipped and read-only.
        }

        @if(order().orderStateName === 'Cancelled'){
          Deleting removes all items permanently.
        }

      </div>
    </div>
  </div>
</div>