<nav aria-label="breadcrumb">
  <ol class="breadcrumb mb-3">

    @for (item of items(); track item.label; let last = $last) {

      <li
        class="breadcrumb-item"
        [class.active]="last"
        [attr.aria-current]="last ? 'page' : null">

        @if (item.route && !last) {
          <a
            [routerLink]="item.route"
            class="text-decoration-none">
            {{ item.label }}
          </a>
        } @else {
          {{ item.label }}
        }

      </li>

    }

  </ol>
</nav>