<!-- Customer name -->
<td>
  <a
    class="text-primary fw-semibold text-decoration-none"
    (click)="viewSelected.emit(customer())">
    {{customer().customerName}}
  </a>
</td>

<!-- Customer email -->
<td>
  {{customer().email}}
</td>

<!-- Customer phone -->
<td>
  {{customer().phone}}
</td>

<!-- Customer status -->
<td>
  <app-status-badge
    [status]="customer().isActive ? 'Active':'Inactive'">
  </app-status-badge>
</td>

<!-- Customer orders count -->
<td>
  {{customer().orderCount}}
</td>

<!-- Customer actions -->
<td>
  <div class="d-flex align-items-center gap-2">
<app-icon-button
  [icon]="faEye"
  title="View"
  (clicked)="viewSelected.emit(customer())">
</app-icon-button>

<app-icon-button
  [icon]="faPen"
  title="Edit"
  (clicked)="editSelected.emit(customer())">
</app-icon-button>
  </div>
</td>